<div class="demo-container">
    <h3>Synerity-UI RadioButton</h3>
    <div class="radiobutton-demo">
        <!-- Basic RadioButton -->
        <div class="demo-section">
            <h4>Basic RadioButton</h4>
            <div class="radiobutton-examples">
                <div class="form-group">
                    <div class="radio-item">
                        <sui-radio-button 
                            [(ngModel)]="selectedOption"
                            value="option1"
                            inputId="basic-radio-1"
                            (change)="onRadioChange($event, 'basic')"
                            name="basic-group">
                        </sui-radio-button>
                        <label for="basic-radio-1">Option 1</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio-item">
                        <sui-radio-button 
                            [(ngModel)]="selectedOption"
                            value="option2"
                            inputId="basic-radio-2"
                            (change)="onRadioChange($event, 'basic')"
                            name="basic-group">
                        </sui-radio-button>
                        <label for="basic-radio-2">Option 2</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio-item">
                        <sui-radio-button 
                            [(ngModel)]="selectedOption"
                            value="option3"
                            inputId="basic-radio-3"
                            (change)="onRadioChange($event, 'basic')"
                            name="basic-group">
                        </sui-radio-button>
                        <label for="basic-radio-3">Option 3</label>
                    </div>
                </div>
                <p class="selected-info">Selected: {{ selectedOption }}</p>
            </div>
        </div>

        <!-- RadioButton States -->
        <div class="demo-section">
            <h4>RadioButton States</h4>
            <div class="radiobutton-examples">
                <div class="form-group">
                    <div class="radio-item">
                        <sui-radio-button 
                            [(ngModel)]="selectedOption"
                            value="enabled"
                            inputId="enabled-radio"
                            name="state-group">
                        </sui-radio-button>
                        <label for="enabled-radio">Enabled RadioButton</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio-item">
                        <sui-radio-button 
                            [(ngModel)]="disabledSelected"
                            value="disabled"
                            inputId="disabled-radio"
                            [disabled]="true"
                            name="state-group">
                        </sui-radio-button>
                        <label for="disabled-radio">Disabled RadioButton</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form Integration -->
        <div class="demo-section">
            <h4>Form Integration</h4>
            <div class="radiobutton-examples">
                <div class="form-group">
                    <label>Gender:</label>
                    <div class="radio-group">
                        <div *ngFor="let option of genderOptions" class="radio-item">
                            <sui-radio-button 
                                [ngModel]="formData.gender"
                                [value]="option.value"
                                [inputId]="'gender-' + option.value"
                                (change)="onGenderChange($event)"
                                name="gender-group">
                            </sui-radio-button>
                            <label [for]="'gender-' + option.value">{{ option.label }}</label>
                        </div>
                    </div>
                    <p class="selected-info">Selected gender: {{ formData.gender }}</p>
                </div>
                
                <div class="form-group">
                    <label>Notification Preference:</label>
                    <div class="radio-group">
                        <div *ngFor="let option of notificationOptions" class="radio-item">
                            <sui-radio-button 
                                [ngModel]="formData.notification"
                                [value]="option.value"
                                [inputId]="'notification-' + option.value"
                                (change)="onNotificationChange($event)"
                                name="notification-group">
                            </sui-radio-button>
                            <label [for]="'notification-' + option.value">{{ option.label }}</label>
                        </div>
                    </div>
                    <p class="selected-info">Selected notification: {{ formData.notification }}</p>
                </div>
                
                <div class="form-group">
                    <label>Language:</label>
                    <div class="radio-group">
                        <div *ngFor="let option of languageOptions" class="radio-item">
                            <sui-radio-button 
                                [ngModel]="formData.language"
                                [value]="option.value"
                                [inputId]="'language-' + option.value"
                                (change)="onLanguageChange($event)"
                                name="language-group">
                            </sui-radio-button>
                            <label [for]="'language-' + option.value">{{ option.label }}</label>
                        </div>
                    </div>
                    <p class="selected-info">Selected language: {{ formData.language }}</p>
                </div>
            </div>
        </div>

        <!-- Size Variants (CSS-based) -->
        <div class="demo-section">
            <h4>Size Variants</h4>
            <div class="radiobutton-examples">
                <div class="form-group">
                    <label>Choose Size:</label>
                    <div class="radio-group">
                        <div class="radio-item size-small">
                            <sui-radio-button 
                                [ngModel]="selectedSize"
                                value="small"
                                inputId="size-small"
                                name="size-group">
                            </sui-radio-button>
                            <label for="size-small">Small</label>
                        </div>
                        <div class="radio-item size-medium">
                            <sui-radio-button 
                                [ngModel]="selectedSize"
                                value="medium"
                                inputId="size-medium"
                                name="size-group">
                            </sui-radio-button>
                            <label for="size-medium">Medium</label>
                        </div>
                        <div class="radio-item size-large">
                            <sui-radio-button 
                                [ngModel]="selectedSize"
                                value="large"
                                inputId="size-large"
                                name="size-group">
                            </sui-radio-button>
                            <label for="size-large">Large</label>
                        </div>
                    </div>
                    <p class="selected-info">Selected size: {{ selectedSize }}</p>
                </div>
            </div>
        </div>

        <!-- Color Variants (CSS-based) -->
        <div class="demo-section">
            <h4>Color Variants</h4>
            <div class="radiobutton-examples">
                <div class="form-group">
                    <label>Choose Color:</label>
                    <div class="radio-group">
                        <div class="radio-item color-primary">
                            <sui-radio-button 
                                [ngModel]="selectedColor"
                                value="primary"
                                inputId="color-primary"
                                name="color-group">
                            </sui-radio-button>
                            <label for="color-primary">Primary</label>
                        </div>
                        <div class="radio-item color-secondary">
                            <sui-radio-button 
                                [ngModel]="selectedColor"
                                value="secondary"
                                inputId="color-secondary"
                                name="color-group">
                            </sui-radio-button>
                            <label for="color-secondary">Secondary</label>
                        </div>
                        <div class="radio-item color-success">
                            <sui-radio-button 
                                [ngModel]="selectedColor"
                                value="success"
                                inputId="color-success"
                                name="color-group">
                            </sui-radio-button>
                            <label for="color-success">Success</label>
                        </div>
                        <div class="radio-item color-warning">
                            <sui-radio-button 
                                [ngModel]="selectedColor"
                                value="warning"
                                inputId="color-warning"
                                name="color-group">
                            </sui-radio-button>
                            <label for="color-warning">Warning</label>
                        </div>
                        <div class="radio-item color-danger">
                            <sui-radio-button 
                                [ngModel]="selectedColor"
                                value="danger"
                                inputId="color-danger"
                                name="color-group">
                            </sui-radio-button>
                            <label for="color-danger">Danger</label>
                        </div>
                    </div>
                    <p class="selected-info">Selected color: {{ selectedColor }}</p>
                </div>
            </div>
        </div>

        <!-- RadioButton Group Layout -->
        <div class="demo-section">
            <h4>Group Layouts</h4>
            <div class="radiobutton-examples">
                <div class="form-group">
                    <label>Vertical Layout:</label>
                    <div class="radio-group vertical">
                        <div *ngFor="let option of genderOptions" class="radio-item">
                            <sui-radio-button 
                                [ngModel]="formData.gender"
                                [value]="option.value"
                                [inputId]="'vertical-' + option.value"
                                name="vertical-group">
                            </sui-radio-button>
                            <label [for]="'vertical-' + option.value">{{ option.label }}</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Horizontal Layout:</label>
                    <div class="radio-group horizontal">
                        <div *ngFor="let option of notificationOptions" class="radio-item">
                            <sui-radio-button 
                                [ngModel]="formData.notification"
                                [value]="option.value"
                                [inputId]="'horizontal-' + option.value"
                                name="horizontal-group">
                            </sui-radio-button>
                            <label [for]="'horizontal-' + option.value">{{ option.label }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
